
<div class="padding">
    <div class="col-md-8 center">
        <!-- Column -->
        <div class="card"> <img class="card-img-top" src="https://images.unsplash.com/photo-1517331156700-3c241d2b4d83?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8Y2F0c3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60" alt="Card image cap">
            <div class="card-body little-profile text-center">
                <div class="pro-img"><%if @user.avatar.attached?%>
                    <%= image_tag @user.avatar, alt: 'avatar'%> 
                    <%end%>
                </div>

                <h3 class="m-b-0"><%= user.first_name%> <%= user.last_name%></h3></h3>
                <p><%= current_user.email %></p>
                <%= link_to 'Editer Profil', edit_user_path, class:"btn btn-outline-dark", style: "z-index: 1;" %>
            </div>
        </div>
    </div>
</div>