
<li id="dropdown-product-<%=product.id%>"> 
<div class="product-quantity"> Quantité : <span id="quantity-product-<%=product.id%>"><%=current_user.cart.nb_product_in_cart(product)%></span></div>
<div class="product-info">
<div>  <%=product.title%></div>
<div> <strong> <%=product.price%> € </strong></div>
</div>
<div><img src="https://st.depositphotos.com/1000122/2651/i/600/depositphotos_26517721-stock-photo-beautiful-cute-little-kitten-meowing.jpg" ></div>

</li>
                    
                    
