<li id="dropdown-product-<%=product.id%>">
    <div class="d-flex align-items-center">
        <div class="mr-3">
          <%if product.image.attached?%>
            <%= image_tag product.image, alt: 'image chat' %>
          <%else%>
            <img src="<%=product.image_url%>" >
          <%end%>
        </div>
        <div class="product-info">
          <div>  <%=link_to product.title, product_path(product)%></div>
          <div> <strong> <%=product.price%> € </strong></div>
        </div>
    </div>
    <div class="product-quantity"> Qty : <span id="dropdown-quantity-<%=product.id%>"><%=current_user.cart.nb_product_in_cart(product)%></span></div>

</li>
