<ul id ="product-list-">
<% products.order(id:'asc').uniq.each do |product| %>
    <div class="row border-top border-bottom" id="product-<%=product.id%>">
        <div class="row main align-items-center">
            <div class="col-2">
                <%if product.image.attached?%>
                    <%= image_tag product.image, alt: 'image chat', style: "max-width:500px;", class:"postcard__img" %>
                <%else%>
                    <img class="postcard__img" src="<%=product.image_url%>" style="width:100%" alt="image chat"> 
                <%end%>
            </div>
            <div class="col">
                <div class="row text-muted"><%= product.title%></div>
                <div class="row"><%= product.description%></div>
            </div>
            <div class="col">
                <%= link_to '-', user_cart_cartproduct_path(current_user, current_user.cart, cart.get_cartproduct(product), product: product.id), id:"remove-product", method: :delete, remote: true %>
                <span class="border px-1" id="qty_product-<%=product.id%>"><%= cart.nb_product_in_cart(product)%></span>
                <%= link_to "+", user_cart_cartproducts_path(current_user, current_user.cart, product: product.id), id: "add-product", method: :post, remote: true%>
            </div>
            <div class="col"><%=product.price%> &euro;
                <span class="close" id="remove-all"> 
                    <%= link_to 'Retirer', user_cart_cartproduct_path(current_user, current_user.cart, cart.get_cartproduct(product), delete_scope: 'all', product: product.id) ,style: 'color:black', method: :delete, remote: true %>
                </span>
            </div>
        </div>
    </div>
<% end %>
</ul>
