

  <div class="container py-5 h-100">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-block p-0" >
              <img src="https://images.unsplash.com/photo-1548546738-8509cb246ed3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" class="img-login">
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

                  <div class="d-flex align-items-center mb-3 pb-1">
                    <img
                style="border-radius:5px"
                class="mr-2"
                src="https://upload.wikimedia.org/wikipedia/fr/thumb/2/2f/Logo_chat_lui.svg/1024px-Logo_chat_lui.svg.png"
                loading="lazy"/>
                Katshup
                  </div>

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>

                  <div class="form-outline mb-4">
                    <div class="field">
                        <%= f.label :email %><br />
                        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                     </div>
                  </div>

                  <div class="form-outline mb-4">
                    <%= f.label :password %><br />
                    <%= f.password_field :password, autocomplete: "current-password" %>
                  </div>

                  <div class="pt-1 mb-4">
                    <div class="actions">
                     <%= f.submit "Log in" %>
                    </div>
                  </div>

                <%end%>
                  <%= render "devise/shared/links" %>
              </div>
           </div>
          </div>
      </div>
    </div>
