<div class="container py-5 h-100">
  <div class="card" style="border-radius: 1rem;">
    <div class="row g-0">
      <div class="col-md-6 col-lg-7 d-flex align-items-center">
        <div class="card-body p-4 p-lg-5 text-black">
          <div class="d-flex align-items-center mb-3 pb-1">
          </div>

          <%if @product.image.attached?%>
          <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Image actuelle</h5>
            <%= image_tag @product.image, alt: 'avatar' %>
            <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Changer d'image ?</h5>
          <%else%>
            <p>=== Il n'y a pas encore d'image lié à ce produit ===</p>
            <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Charger une Photo</h5>
          <%end%>
          <%= form_tag product_images_path(@product), multipart: true do %>
            <div class="form-outline mb-4">
              <div class="field">
                <%= file_field_tag :image %>
              </div>
            </div>
            <div class="pt-1 mb-4">
              <div class="actions">
                <%= submit_tag "Uploader la photo", {:class => "card-link btn btn-outline-info"} %> <br>
                <%=link_to "Retour", admin_products_path, :class => "card-link btn btn-outline-info"%>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
