<div class="d-flex">   
   <div class="container text-center">
      <%if @product.image.attached?%>
         <%= image_tag @product.image, alt: 'image', style: "width:500px;"%>
      <%else%>
         <p>=== Il n'y a pas encore d'image lié à ce produit ===</p>
      <%end%>
      <%# <img src="https://st.depositphotos.com/1000122/2651/i/600/depositphotos_26517721-stock-photo-beautiful-cute-little-kitten-meowing.jpg"
      style="width:70%"> %>
   </div>

   <div>
      <p> <span> TITRE : </span><%= @product.title%></p>
      <p> <span> DESCRIPTION : </span> <%= @product.description%></p>
      <p> <span> PRICE : </span><%= @product.price%></p>
      <%= link_to "Ajouter au panier", user_cart_cartproducts_path(current_user, current_user.cart, product: @product.id), method: :post,  :class => "btn btn-primary mx-2" %>

   </div>
</div>