<section class="dark">
	<div class="container product py-4">
		<h1 class="h1 text-center" id="pageHeaderTitle"></h1>

		<article class="postcard dark blue">
		 	<%if @product.image.attached?%>
        <%= image_tag @product.image, alt: 'image chat', style: "max-width:500px;", class:"postcard__img" %>
      <%else%>
        <img class="postcard__img" src="<%=@product.image_url%>" alt="image chat"> 
      <%end%>
			<div class="postcard__text">
				<h1 class="postcard__title"> <span> TITRE : </span><%= @product.title%></h1>
				<div class="postcard__subtitle small">
					
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt"><p> <span> DESCRIPTION : </span> <%= @product.description%></p></div>
				<div class="postcard__preview-text"><p> <span> Prix : </span> <%= @product.price%> €</p></div>
				 <%if current_user%>
         <%= link_to "Ajouter au panier", user_cart_cartproducts_path(current_user, current_user.cart, product: @product.id), method: :post,  :class => "btn btn-dark", remote: true %>
      <%end%>
			<%if @product.purchased_by(current_user)%>
				<%= render 'rating_prod_show'%>
			<%end%>
			</div>
		</article>
</section>