<div id="dropdown-navbar-cart" class="dropdown cart-drop">
  <li>
    <%if current_user%>
      <div class="dropdown-toggle d-flex align-items-center hidden-arrow btn-account-user"
                    href="#"
                    style="color:black"
                    id="navbarDropdownMenuAvatar"
                    role="button"
                    data-mdb-toggle="dropdown"
                    aria-expanded="false" >
        <i class="fa-solid fa-cart-shopping mr-2"></i>
        <span id="item-count" class="count-cart"> <%=current_user.cart.products.count%>  </span>
        <span> Mon panier </span>
      <%end%>
    </div>
    <ul class="dropdown-menu dropdown-menu-right"
                aria-labelledby="navbarDropdownMenuAvatar">
      <li style="color:black" class="dropdown-item user-dropdown-container d-flex flex-column align-items-center justify-content-center ">
        <% if current_user %>
          <ul style="padding-left:0px !important" class="ul-down user-dropdown-list" id="product-add">

            <% current_user.cart.products.uniq.each do |product| %>
              <li id="dropdown-product-<%=product.id%>">
                <div class="d-flex align-items-center">
                  <div class="mr-3">
                    <%= link_to product_path(product) do%>
                      <%if product.image.attached?%>>
                        <%= image_tag product.image, alt: 'image chat' %>
                      <%else%>
                        <img src="<%=product.image_url%>" >
                      <%end%>
                    <%end%>
                  </div>
                  <div class="product-info">
                    <div>  <%=product.title%></div>
                    <div> <strong> <%=product.price%> € </strong></div>
                  </div>
                </div>
                <div class="product-quantity"> Qty : <span id="dropdown-quantity-<%=product.id%>"><%=current_user.cart.nb_product_in_cart(product)%></span></div>
              </li>
            <%end%>
          </ul>
          <%= link_to 'Voir mon panier', user_cart_path(current_user.id, current_user.cart.id), style: 'color:white', class:"btn btn-dark mt-2" %>
        <% end %>
      </li>
    </ul>
  </li>
</div>
